<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <typeAliases>
        <!-- cash -->
        <typeAlias alias="jisaSijeClose"    type="io.manasobi.domain.mng.cash.jisa_sije_close.JisaSijeClose" />
        <!-- common -->
        <typeAlias alias="searchTerminalVO" type="io.manasobi.domain.mng.common.SearchTerminalVO" />
        <!-- error -->
        <typeAlias alias="errorStatus"      type="io.manasobi.domain.mng.error.error_status.ErrorStatus" />
    </typeAliases>

</configuration>

<!--
    config.setCacheEnabled(false);
    config.setUseGeneratedKeys(true);
    config.setDefaultExecutorType(ExecutorType.REUSE);
    config.setAggressiveLazyLoading(false);
    config.setMapUnderscoreToCamelCase(true);
-->
