<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.manasobi.domain.mng.cash.jisa_sije_close.JisaSijeCloseMapper">

    <select id="findAll" resultType="jisaSijeClose" parameterType="jisaSijeClose" statementType="PREPARED">
        SELECT
          B.TX_ID AS txId ,
          DECODE(B.CLOSE_DATE,NULL ,SYSDATE,B.CLOSE_DATE) AS closeDate,
          A.JISA_CODE AS jisaCode,
          B.PREV_DAY_RESERVE_SIJE AS prevDayReserveSije,
          B.THIS_DAY_CASH_DEPOSIT_AMT AS thisDayCashDepositAmt,
          B.JISA_TO_SHINHAN_SEND_AMT AS jisaToShinhanSendAmt,
          B.CLOSE_AMT AS closeAmt,
          B.UN_CHECK_AMT AS unCheckAmt,
          B.SIJE_MISTAKE_AMT AS sijeMistakeAmt,
          B.CASH_SENDING_AMT AS cashSendingAmt,
          B.ADD_CASH_SENDING_AMT AS addCashSendingAmt,
          B.JISA_SAFE_AMT AS jisaSafeAmt,
          B.MEMO_CONTENT AS memoContent,
          B.USER_NM AS userNm
          FROM
            (SELECT DISTINCT JISA_CODE
                FROM ATMS_TERMINAL_STATUS
                ORDER BY JISA_CODE ASC) A
            LEFT OUTER JOIN ATMS_JISA_SIJE_CLOSE B
              ON B.CLOSE_DATE = #{closeDate}
             AND B.JISA_CODE = A.JISA_CODE
          ORDER BY A.JISA_CODE ASC
    </select>

</mapper>